.x-icon {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.todo-item {
  position: relative;
  margin: 10px 5px 10px 5px;
  height: 80px;
  background-color: #b8cdf9;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

.layoutButton {
  position: fixed;
  top: 100px;
  right: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: moccasin;
}

.container1 {
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 0px 0 0 100px;
  height: 100%;
  transition: background-color 1s ease;
}

.title {
  margin: 0;
  transition: color 1s ease;
}
